<mat-card class="card" 
cdkDrag 
[cdkDragFreeDragPosition]="card.position"
(cdkDragStarted)="dragStarted($event)"
(cdkDragEnded)="dragEnded($event)"
(mousedown)="dragEnabled = true"
(mouseup)="dragEnabled = false"
[ngClass]="{'mat-elevation-z4' : dragEnabled}"
[cdkDragDisabled]="editEnabled"
>
    <mat-card-title>
      <mat-form-field *ngIf="editEnabled">
        <mat-label>Header</mat-label>
        <input matInput 
        [(ngModel)]="card.name"
        >
      </mat-form-field>
      {{ editEnabled ? "" : card.name }}
    </mat-card-title>
    <mat-card-subtitle>
      <mat-form-field *ngIf="editEnabled">
        <mat-label>Description</mat-label>
        <textarea matInput
        cdkTextareaAutosize
        [(ngModel)]="card.description"
        ></textarea>
      </mat-form-field>
      {{ editEnabled ? "" : card.description }}
    </mat-card-subtitle>
    <mat-card-actions align="end">
      <!-- mat-icon-button -->
      <!-- mat-fab -->
      <button mat-button *ngIf="!editEnabled" (click)="onEditClick()">EDIT</button> 
      <button mat-button *ngIf="editEnabled"  (click)="onSaveClick()">SAVE</button> 
      <button mat-button>SHARE</button>
    </mat-card-actions>
    <!-- <mat-card-footer>
      <mat-progress-bar></mat-progress-bar>
    </mat-card-footer> -->
</mat-card>
