/* You can add global styles to this file, and also import other style files */

:root {
  --mdc-filled-text-field-container-color: lightgoldenrodyellow;
}


html,
body {
    height: 100%;
    width: 100%;
  display: flex;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: darkgreen;
}
