<div>
    <!-- clock 1 -->
    <app-arrow [x]="387" [y]="311" [d]="7" [arrowType]="'minute'"
        imageName="/assets/images/vrungel/vrungel_arrow_2.png"></app-arrow>
    <app-arrow [x]="387" [y]="311" [d]="6" [arrowType]="'hour'"
        imageName="/assets/images/vrungel/vrungel_arrow_1.png"></app-arrow>
    <!-- clock 2 -->
    <app-arrow [x]="100" [y]="361" [d]="0" [arrowType]="'minute'"
        imageName="/assets/images/vrungel/vrungel_arrow_2_2.png"></app-arrow>
    <app-arrow [x]="100" [y]="361" [d]="0" [arrowType]="'hour'"
        imageName="/assets/images/vrungel/vrungel_arrow_1_2.png"></app-arrow>
    <app-foreground [x]="100" [y]="511" 
        imageName="/assets/images/vrungel/vrungel_foreground.png"></app-foreground>
    
    
        <canvas #backgroundCanvas></canvas>
    </div>