<div>
        <!-- clock 1 648 344 -->
    <app-arrow [x]="648" [y]="344" [d]="-25" [arrowType]="'minute'"
        imageName="/assets/images/forest/minute.png"></app-arrow>
    <app-arrow [x]="648" [y]="344" [d]="-90" [arrowType]="'hour'"
               imageName="/assets/images/forest/hour.png"></app-arrow>
    <app-arrow [x]="648" [y]="344" [d]="-18" [arrowType]="'second'"
               imageName="/assets/images/forest/second.png"></app-arrow>
     <canvas #backgroundCanvas></canvas>
  </div>
