<div>
<!-- clock 1 -->
<app-arrow [x]="387" [y]="311" [d]="7" [arrowType]="'minute'"
    imageName="/assets/images/vrungel/vrungel_arrow_2.png"></app-arrow>
<app-arrow [x]="387" [y]="311" [d]="6" [arrowType]="'hour'"
    imageName="/assets/images/vrungel/vrungel_arrow_1.png"></app-arrow>

    <!--
    !-- clock 6 573 1137 --
<app-arrow [x]="573" [y]="1137" [d]="5" [arrowType]="'minute'"
    imageName="/assets/images/pensil/pensil_arrow_3_c6.png"></app-arrow>
<app-arrow [x]="573" [y]="1137" [d]="5" [arrowType]="'second'"
    imageName="/assets/images/pensil/pensil_arrow_1_c6.png"></app-arrow>
<app-arrow [x]="573" [y]="1137" [d]="5" [arrowType]="'hour'"
    imageName="/assets/images/pensil/pensil_arrow_2_c6.png"></app-arrow>
!-- clock 5 209 1089 --
<app-arrow [x]="209" [y]="1089" [d]="5" [arrowType]="'hour'"
    imageName="/assets/images/pensil/pensil_arrow_1_c5.png"></app-arrow>
!-- clock 4 211 819 --
<app-arrow [x]="211" [y]="819" [d]="0" [arrowType]="'second'"
    imageName="/assets/images/pensil/pensil_arrow_3_c4.png"></app-arrow>
<app-arrow [x]="211" [y]="819" [d]="8" [arrowType]="'hour'"
    imageName="/assets/images/pensil/pensil_arrow_2_c4.png"></app-arrow>
<app-arrow [x]="211" [y]="819" [d]="-20" [arrowType]="'minute'"
    imageName="/assets/images/pensil/pensil_arrow_1_c4.png"></app-arrow>
!-- clock 3 557 318 --
<app-arrow [x]="557" [y]="318" [d]="0" [arrowType]="'hour'"
    imageName="/assets/images/pensil/pensil_arrow_3_c3.png"></app-arrow>
<app-arrow [x]="557" [y]="318" [d]="0" [arrowType]="'minute'"
    imageName="/assets/images/pensil/pensil_arrow_1_c3.png"></app-arrow>
<app-arrow [x]="557" [y]="318" [d]="0" [arrowType]="'second'"
    imageName="/assets/images/pensil/pensil_arrow_2_c3.png"></app-arrow>
!-- clock 2 565 475 --
<app-arrow [x]="565" [y]="475" [d]="9" [arrowType]="'hour'"
    imageName="/assets/images/pensil/pensil_arrow_2_c2.png"></app-arrow>
<app-arrow [x]="565" [y]="475" [d]="9" [arrowType]="'minute'"
    imageName="/assets/images/pensil/pensil_arrow_1_c2.png"></app-arrow>
!-- clock 1 --
<app-arrow [x]="578" [y]="958" [d]="6" [arrowType]="'hour'"
    imageName="/assets/images/pensil/pensil_arrow_1_c1.png"></app-arrow>
<app-arrow [x]="578" [y]="958" [d]="-7" [arrowType]="'minute'"
    imageName="/assets/images/pensil/pensil_arrow_2_c1.png"></app-arrow>
<app-arrow [x]="578" [y]="958" [d]="6" [arrowType]="'second'"
    imageName="/assets/images/pensil/pensil_arrow_1_c1.png"></app-arrow>
-->
    <canvas #backgroundCanvas></canvas>
</div>